#logo 
{
background: transparent url(../Img/logo.png) no-repeat;
text-indent: -9999em;
width: 10em;
height: 55px;
display: block;
}

#entete
{
width: 100%;
}

#entete li
{
display: inline-block;
margin-top: 0em;
text-align: center;
vertical-align:middle;
}

#entete button
{
margin: 0em 20em 0em 20em;
display: block;
width: 8em;
height: 3em;
background-color: #fff;
color: #000;
text-align: center;
font-weight: bold;
border: 1px solid gray;
}

#entete button:hover
{
background-color: #555;
color: #fff;
-moz-transition-property: background-color;
-moz-transition-duration: 0.5s;
-moz-transition-timing-function: ease-in-out;
}

