html,body 
{
height: 100%;
width: 100%;
overflow: auto;
}

body 
{
background-color: #fff;
color: #000;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 1em;
}

header 
{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 3.5em;
background-color: #f00;
}

#content 
{
margin-top: 3.5em;
padding-left: 0.3em;
padding-right: 0.3em;
padding-top: 0.3em;
overflow: auto;
font-size: 100%;
font-weight: normal;
}

#content h1 
{
font-size: 1.5em;
text-align: center;
}

#colonne1 
{
float: left;
left: 0;
padding-left: 0.3em;
padding-right: 0.3em;
width: 68%;
background-color: #00FFFF;
}

#colonne1 #image1
{
background: transparent url(../Img/image1.jpg) no-repeat;
float: left;
text-indent: -9999em;
width: 400px;
height: 300px;
}

#colonne2
{
float: right;
margin-left:68%
left: 68%;
width: 30%;
padding-left: 0.3em;
padding-right: 0.3em;
background-color: #ff0;
}

